[workspace]
members = [
    "programs/*"
]
resolver = "2"

[profile.release]
overflow-checks = false
lto = true
codegen-units = 1
opt-level = "z"
panic = "abort"
strip = true

[profile.release.build-override]
opt-level = "z"
incremental = false
codegen-units = 1
